.card-title {
    background-color: rgba(0, 0, 0, 0.4);
}

body {
    background-image: url(/images/background.jpg);
    font-family: 'Courgette', cursive;
    font-size: 20px ;
}

#ticketPage {
    background-image: url(/images/popcorn.jpg);
}

.navbar {
    background-color: gray;
}

.card-text, .card-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

